<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="600">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Glove80 Key Heatmap</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/output.css">
    </head>
    <body class="bg-lime-100">
        <div class="flex justify-center flex-col items-center">
            <div id="keysgrid" class="mt-20 inline-grid grid-cols-12 gap-1">
                {{- range .Items }}
                {{ if .Visible }}
                <div id="key-{{ .Position }}" 
                    class="grid-item 
                    flex justify-center items-center 
                    border-gray-50 border border-solid p-4
                    aspect-square rounded-md">
                    <span id="keys-pressed-{{ .Position }}" class="keys-pressed font-semibold">{{ .Label }}</span>
                </div>
                {{ else }}
                <div id="key-{{ .Position }}" class="grid-item-hidden"></div>
                {{ end }}
                {{- end }}
            </div>
            <div class="flex slidecontainer flex-row w-6/12">
                <label for="colorClipRange" class="content-center align-middle mr-1">Color Clipping at:</label>
                <input type="range" min="1" max="{{ .MaxVal }}" value="{{ .MaxVal }}" 
                    class="slider w-9/12 h-12 mt-1" 
                    id="colorClipRange">
                <span id="colorClipSpan" class="content-center align-middle ml-1">{{ .MaxVal }}</span>
            </div>
        </div>

        <script src="/assets/js/colorize.js"></script>
        <script>
            colorize({{ .MaxVal }})
            var slider = document.getElementById("colorClipRange");
            var output = document.getElementById("colorClipSpan");

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output.innerHTML = this.value;
                colorize(this.value)
            }
        </script>
    </body>
</html>
