<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="600">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glove80 Key Heatmap</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <div class="grid-container">
        {{- range .Items }}
            {{ if .Visible }}
                <div class="grid-item">{{ .Label }}</div>
            {{ else }}
                <div class="hidden"></div>
            {{ end }}
        {{- end }}
    </div>
    <script src="/assets/js/colorize.js"></script>
    <script>
        // Apply the gradient-based color to all .grid-item elements
        document.querySelectorAll('.grid-item').forEach(function(item) {
            let value = parseFloat(item.textContent.trim()); // Get the number from 0 to 1
            if (!isNaN(value)) {
                const color = interpolateColor(value/ {{.MaxVal}});  // Calculate the color based on the value
                item.style.backgroundColor = color;     // Set the background color
            }
        });
    </script>
</body>
