<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="600">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glove80 Key Heatmap</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body class="bg-lime-100">
    <div class="flex justify-center">
        <div id="keysgrid" class="mt-20 inline-grid grid-cols-12 gap-1">
            {{- range .Items }}
                {{ if .Visible }}
                    <div id="key-{{ .Position }}" 
                    class="grid-item 
                    flex justify-center items-center 
                    border-gray-50 border border-solid p-4
                    aspect-square rounded-md">
                        <span id="keys-pressed-{{ .Position }}" class="keys-pressed font-semibold">{{ .Label }}</span>
                    </div>
                {{ else }}
                    <div id="key-{{ .Position }}" class="grid-item-hidden"></div>
                {{ end }}
            {{- end }}
        </div>
    </div>
    <script src="/assets/js/colorize.js"></script>
    <script>
        // Apply the gradient-based color to all .grid-item elements
        document.querySelectorAll('.keys-pressed').forEach(function(item) {
            // TODO: get specific content of keys pressed; avoid other text within the cell
            let value = parseFloat(item.textContent.trim()); // Get the number from 0 to 1
            if (!isNaN(value)) {
                const color = interpolateColor(value/ {{.MaxVal}});  // Calculate the color based on the value
                let parentItem = item.parentNode;
                parentItem.style.backgroundColor = color;     // Set the background color
            }
        });
    </script>
</body>
